.task-line {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 10px;
  border-radius: 3px;
  margin: 15px 12px;
  color: #1a1313;
  background-color: #fbfbfb;
}
.task-line-title {
  margin-bottom: 0.3em;
  color: #1a1313;
}

.task-line-body {
  font-size: 0.9em;
}

.task-line-date {
  color: #999;
  margin-top: 0;
  text-align: right;
  font-size: 0.9em;
}

.task-line-content {
  grid-gap: 10px;
  margin-top: 25px;
}
