<div style=" display: grid;
grid-template-rows: 4% auto;
grid-gap: 10px;">

    <div style=" display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;">
        <div style="font-weight: bold; font-size: large; margin-left: 1%;  color: #1a1313;">SARAY</div>
        <div style=" justify-self: center;  margin-top: 2%;">
            <button type="submit" class="task-button-add" role="button" (click)="openAddTaskModal()">+ New task</button>
        </div>
        <div style=" justify-self: end;  margin-top: 2%; margin-right: 2%;">
            <input type="text" id="search" placeholder=" search" style="border-radius: 0.375em;border-width: 1px;min-height: 21px;
            background-color: #ebebeb;" (keyup)="filter($event)">
        </div>
    </div>


    <div style=" display: grid;
    grid-template-columns: 2.55% 31.3% 31.3% 31.3% 3.55%; justify-items: center;grid-gap: 10px;" cdkDropListGroup>

        <div style="grid-column-start: 2;">
            <div class="status-title" cdkDropList>NOT DONE <span
                    style="font-size: 14px; color:  rgb(185, 185, 185);">{{tasksToDo.length}}</span></div>
            <div cdkDropList [cdkDropListData]="tasksToDo" (cdkDropListDropped)="drop($event,'NOT_DONE')"
                style="min-height: 60%;">
                @for (task of tasksToDo ;track task.id) {
                <div class="task-card" cdkDrag (click)="openEditTaskModal(task)">
                    <div class="task-card-title"> {{ task.name }} </div>
                    <div class="task-card-body"> {{ task.description | slice:0:170}} </div>
                    <div style=" display: grid;
                    grid-template-columns: 15% 17% 1fr 45%;
                    grid-gap: 10px; margin-top: 25px;">
                        <div style="grid-column: 4/-1;" class="task-card-date"> {{ task.creationDate | date
                            :"'Created' dd MMM yyyy" }} </div>
                    </div>

                </div>
                }
            </div>

        </div>
        <div style="grid-column-start: 3;">
            <div class="status-title" cdkDropList>IN PROGRESS <span
                    style="font-size: 14px; color:  rgb(185, 185, 185);">{{tasksInProgress.length}}</span></div>
            <div cdkDropList (cdkDropListDropped)="drop($event,'IN_PROGRESS')" [cdkDropListData]="tasksInProgress"
                style="min-height: 60%;">
                @for (task of tasksInProgress;track task.id) {
                <div class="task-card" cdkDrag (click)="openEditTaskModal(task)">
                    <div class="task-card-title"> {{ task.name }} </div>
                    <div style="margin-bottom: 10px;" class="task-card-body"> {{ task.description | slice:0:170}} </div>


                    <div style=" display: grid;
                    grid-template-columns: 15% 17% 1fr 45%;
                    grid-gap: 10px; margin-top: 25px;">


                        <div style="grid-column: 4/-1;" class="task-card-date"> {{ task.creationDate | date
                            :"'Created' dd MMM yyyy" }} </div>
                    </div>

                </div>
                }
            </div>
        </div>
        <div style="grid-column-start: 4;">
            <div class="status-title">DONE <span
                    style="font-size: 14px; color: rgb(185, 185, 185);">{{tasksDone.length}}</span></div>
            <div cdkDropList [cdkDropListData]="tasksDone" (cdkDropListDropped)="drop($event,'DONE')"
                style="min-height: 60%;">
                @for (task of tasksDone ;track task.id) {
                <div class="task-card" cdkDrag (click)="openEditTaskModal(task)">
                    <div class="task-card-title"> {{ task.name }} </div>
                    <div class="task-card-body"> {{ task.description | slice:0:170}} </div>
                    <div style=" display: grid;
                    grid-template-columns: 15% 17% 1fr 45%;
                    grid-gap: 10px; margin-top: 25px;">


                        <div style="grid-column: 4/-1;" class="task-card-date"> {{ task.creationDate | date
                            :"'Created' dd MMM yyyy" }} </div>
                    </div>
                </div>
                }
            </div>
        </div>

    </div>
</div>