<div style=" display: grid;
grid-template-rows: 4% auto;
grid-gap: 10px;">

    <div style=" display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;">
        <div style="font-weight: bold; font-size: large; margin-left: 1%;  color: #1a1313;">SARAY</div>
        <div style=" justify-self: center;  margin-top: 2%;">
            <button type="submit" class="task-button" role="button" (click)="openAddTaskModal()">Add Task</button>
        </div>
        <div style=" justify-self: end;  margin-top: 2%; margin-right: 2%;">
            <input type="text" id="search" placeholder=" search" style="border-radius: 6px;border-width: 1px;
            background-color: #ebebeb;">
        </div>
    </div>

    @if (isLoading()) {
    <div class="loader"></div>
    }
    @if (!isLoading()) {
    <div style=" display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%; justify-items: center;" cdkDropListGroup>

        <div style="grid-column-start: 2;">
            <div class="status-title" cdkDropList>NOT DONE</div>
            <div cdkDropList [cdkDropListData]="tasksToDo" (cdkDropListDropped)="drop($event,'NOT_DONE')"
                style="min-height: 60%;">
                @for (task of tasksToDo ;track task.id) {
                <div class="task-card" cdkDrag>
                    <div class="task-card-title"> {{ task.name }} </div>
                    <div class="task-card-body"> {{ task.description | slice:0:170}} </div>
                    <div class="task-card-date"> {{ task.creationDate | date :"'Created' dd MMM yyyy" }} </div>
                    <button class="task-button" role="button" (click)="deleteTask(task,'NOT_DONE')">Delete</button>
                    <button class="task-button" role="button" (click)="openEditTaskModal(task)">Edit</button>
                </div>
                }
            </div>

        </div>
        <div style="grid-column-start: 3;">
            <div class="status-title" cdkDropList>IN PROGRESS</div>
            <div cdkDropList (cdkDropListDropped)="drop($event,'IN_PROGRESS')" [cdkDropListData]="tasksInProgress"
                style="min-height: 60%;">
                @for (task of tasksInProgress;track task.id) {
                <div class="task-card" cdkDrag>
                    <div class="task-card-title"> {{ task.name }} </div>
                    <div class="task-card-body"> {{ task.description | slice:0:170}} </div>
                    <div class="task-card-date"> {{ task.creationDate | date :"'Created' dd MMM yyyy" }} </div>
                    <button class="task-button" role="button" (click)="deleteTask(task,'IN_PROGRESS')">Delete</button>
                    <button class="task-button" role="button" (click)="openEditTaskModal(task)">Edit</button>
                </div>
                }
            </div>
        </div>
        <div style="grid-column-start: 4;">
            <div class="status-title">DONE </div>
            <div cdkDropList [cdkDropListData]="tasksDone" (cdkDropListDropped)="drop($event,'DONE')"
                style="min-height: 60%;">
                @for (task of tasksDone ;track task.id) {
                <div class="task-card" cdkDrag>
                    <div class="task-card-title"> {{ task.name }} </div>
                    <div class="task-card-body"> {{ task.description | slice:0:170}} </div>
                    <div class="task-card-date"> {{ task.creationDate | date :"'Created' dd MMM yyyy" }} </div>
                    <button class="task-button" role="button" (click)="deleteTask(task,'DONE')">Delete</button>
                    <button class="task-button" role="button" (click)="openEditTaskModal(task)">Edit</button>
                </div>
                }
            </div>
        </div>

    </div>}
</div>