.task-button-add {
  align-items: center;
  appearance: none;
  background-color: #1a7f37;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-top: -10px;
}

.task-button-add:active {
  border-color: #4a4a4a;
  outline: 0;
}

.task-button-add:focus {
  border-color: #485fc7;
  outline: 0;
}

.task-button-add:hover {
  background-color: #14742f;
  color: #fff;
  border-color: #b5b5b5;
}

.task-button-add:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.task-button-delete {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #c01b37;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-top: 3%;
}

.task-button-delete:active {
  border-color: #4a4a4a;
  outline: 0;
}

.task-button-delete:focus {
  border-color: #485fc7;
  outline: 0;
}

.task-button-delete:hover {
  background-color: #c01b37;
  color: #fff;
  border-color: #b5b5b5;
}

.task-button-delete:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}
