<div style=" display: grid;
   grid-template-rows: 5% 1fr 20% 1fr 5%;
    grid-template-columns: 5% 1fr 5% 1fr 5%;
    justify-items: center;">

    <div style=" grid-column: 2/5; grid-row: 2/3;">
        <h4>Are you sure you want to delete this item?</h4>
    </div>

    <div style=" grid-column: 2/3; grid-row: 4/4;">
        <button class="task-button" (click)="cancel()">No, cancel</button>
    </div>
    <div style=" grid-column: 4/5; grid-row: 4/4;">
        <button class="task-button" (click)="confirm()" style="background-color: #DC2626; color: white;">Yes, I'm
            sure</button>
    </div>
</div>